$slider-height: rem(10);
$slider-step-size: rem(14);
$slider-handle-size: rem(16);
$slider-handle-hover-size: rem(18);

.wrapper {
	margin: 0 rem(10);
}

.topSection {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include mobile {
		font-size: rem(14);
	}

	& > span {
		font-weight: 500;
	}

	:global(.ant-input-number) {
		width: rem(160);
	}
}

.slider {
	margin-top: rem(10);

	@include slider;
}
