.itemWrapper {
	border-radius: $round-md;
	width: 100%;
	transition: all 0.2s ease-in-out;
	position: relative;

	&:hover {
		transform: scale(1.03);

		@include tablet {
			transform: scale(1.05);
		}

		.cardContent {
			box-shadow: 0 0 rem(25) $color-gray-2;
		}
	}
}

.linkWrapper {
	position: relative;
}

.cardContent {
	position: relative;
}

.overlay {
	position: absolute;
	inset: 0;
	border-radius: $round-md;
	z-index: 1;
	transition: all 0.2s ease-in-out;
	background-color: $color-rgba-black-3;
	color: $color-white;
	@include center;
}

.imageWrapper {
	position: relative;
	aspect-ratio: $ratio-16-9;
	width: 100%;
}

.thumbnail {
	border-top-left-radius: $round-md;
	border-top-right-radius: $round-md;
}

.logoWrapper {
	position: absolute;
	left: rem(4);
	top: rem(24);
	border-radius: rem(9999);
	padding: rem(4);
	border: solid rem(2) $color-primary-2;
}

.logo {
	background-color: $color-white;
	border-radius: rem(9999);
	padding: rem(4);
}

.location {
	position: absolute;
	top: 0;
	left: 0;
	color: $color-white;
	font-size: rem(12);
	background-color: $color-rgba-black-3;
	padding: rem(4) rem(8);
	border-top-left-radius: $round-md;
	border-bottom-right-radius: $round-md;
}

.save {
	background: unset;
	border: none;
	position: absolute;
	top: rem(4);
	right: 0;
	z-index: 1;
	color: $color-white;

	&:hover {
		color: $color-primary-1;
	}
}

.discount {
	position: absolute;
	bottom: rem(10);
	right: 0;
	background-color: $color-orange-1;
	color: $color-white;
	font-size: rem(12);
	padding: rem(4) rem(8);
	border-top-left-radius: $round-md;
	border-bottom-left-radius: $round-md;
}

.descriptionWrapper {
	padding: rem(10);
	color: $color-text-black;
	background-color: $color-white;
	border: solid rem(1) $color-gray-3;
	border-bottom-left-radius: $round-md;
	border-bottom-right-radius: $round-md;
	display: flex;
	align-items: center;
}

.leftSection {
	flex: 1;
}

.rightSection {
	width: 30%;
	font-size: rem(12);
	@include line-clamp(4);
}

.name {
	height: rem(54);
	font-size: rem(18);
	font-weight: 600;
	@include line-clamp(3);
}

.priceWrapper {
	margin-top: rem(10);
}

.originalPrice {
	color: $color-gray-1;
	text-decoration: line-through;
	font-size: rem(12);
}

.price {
	margin-top: rem(6);
	color: $color-orange-1;
	font-weight: 500;
}

.view {
	margin-top: rem(10);
	color: $color-white;
	background-color: $color-orange-1;
	text-align: center;
	border-radius: $round-md;
	padding: rem(6) 0;
	font-size: rem(14);
	text-transform: uppercase;
	font-weight: 500;
}
