.wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: rem(10) 0;
	flex-wrap: wrap;
	gap: rem(10);
	row-gap: rem(20);
}

.item {
	color: $color-primary-2;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: rem(100);
	text-align: center;
	gap: rem(10);
}

.topSection {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title {
	margin: rem(6) 0;
	font-size: rem(12);
	color: $color-gray-1;
}

.info {
	font-weight: 500;
	font-size: rem(14);
}
