.wrapper {
	@include center-inline;
	flex: 1;
	border-radius: $round-md;
	background-color: $color-white;
	padding: rem(4) 0;
}

.icon {
	stroke: $color-gray-1;
	padding-left: rem(8);
	padding-right: rem(4);
}

.input {
	flex: 1;
	height: 20px;
	font-size: 16px;
	border: none;
	border-radius: $round-md;
}
