.wrapper {
	margin-bottom: rem(60);
}

.networkList {
	margin-top: rem(10);
	display: flex;
	gap: rem(10);

	@include mobile {
		justify-content: center;
	}
}

.newsletter {
	span {
		display: block;
		text-transform: uppercase;
		margin: rem(30) 0 rem(20);
		color: $color-primary-2;
	}
}

.inputBlock {
	display: flex;
	gap: rem(20);

	input {
		flex: 1;
		border: solid rem(1) $color-primary-2;
		padding: rem(10);
		outline: none;
		border-radius: $round-md;
	}

	button {
		@include btn;
		color: $color-white;
		background-color: $color-primary-2;
		border-radius: $round-md;
		padding: 0 rem(20);
	}
}
