.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.voucherWrapper {
	display: flex;
	background-color: $color-pink-1;
	color: $color-text-black;
	margin: rem(20) rem(10);
	padding: rem(12);
	border-radius: $round-md;
	min-height: rem(100);
	gap: rem(10);
}

.leftSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.subTitle {
	color: $color-pink-2;
	font-weight: 500;
	font-size: rem(10);
}

.discount {
	margin-top: rem(8);
	font-weight: 600;
	font-size: rem(18);
}

.condition {
	margin-top: rem(8);
	font-size: rem(12);
	text-transform: capitalize;
	@include line-clamp(2);

	@include mobile {
		font-size: rem(4);
	}
}

.useBtn {
	position: relative;
	top: 25%;
	padding: rem(2) rem(4);
	color: $color-pink-2;
	font-size: rem(14);
	font-weight: 500;
	border: solid rem(2) $color-pink-2;
	border-radius: $round-sm;
	text-align: center;

	@include mobile {
		font-size: rem(12);
	}

	&:hover {
		color: $color-white;
		background-color: $color-pink-2;
	}
}

.sliderRoot {
	position: relative;
	bottom: 0;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	height: rem(10);
}

.sliderTrack {
	background-color: $color-pink-3;
	position: relative;
	flex-grow: 1;
	border-radius: $round-lg;
	height: rem(3);
}

.sliderRange {
	position: absolute;
	background-color: $color-pink-2;
	border-radius: $round-lg;
	height: 100%;
}

.usedText {
	font-size: rem(10);
	color: $color-pink-2;
}

.expiredDate {
	margin-top: rem(4);
	font-size: rem(10);
}
