.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-gray-2;
	padding: rem(20);

	@include mobile {
		padding: rem(20) rem(10);
	}
}

.leftSection {
	display: flex;
	flex-direction: column;
	color: $color-gray-1;
	gap: rem(6);
}

.title {
	font-weight: 500;
	color: $color-text-black;
}

.originalPrice {
	text-decoration: line-through;
	font-size: rem(14);
}

.price {
	font-weight: 600;
	color: $color-orange-1;
}

.rightSection {
	display: flex;
	gap: rem(10);
}

.btn {
	@include btn;
	border: rem(1) solid $color-orange-1;
	color: $color-orange-1;
	padding: rem(10);
	border-radius: $round-md;

	&:hover {
		border-color: $color-orange-2;
		color: $color-orange-2;
	}
}

.primaryBtn {
	@include btn;
	background-color: $color-orange-1;
	color: $color-white;
	padding: rem(10);
	border-radius: $round-md;

	&:hover {
		background-color: $color-orange-2;
	}
}
