.wrapper {
	@include center;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-white;
	box-shadow: 0 0 rem(4) 0 $color-gray-1;
	z-index: 1;
}

.item {
	@include center-inline;
	width: 20%;
	height: $height-navbar;
	color: $color-gray-1;
	flex-direction: column;
	gap: rem(2);

	@include mobile {
		font-size: rem(12);

		svg {
			width: rem(20);
			height: rem(20);
		}
	}
}

.isActive {
	color: $color-primary-1;
}

.revert {
	box-shadow: none;
	background-color: $color-rgba-black-5;

	.item {
		color: $color-gray-1;
	}

	.isActive {
		color: $color-white;
	}
}
