.carousel {
	position: relative;

	& :global(.slick-slide) > div {
		display: flex;
	}
}

.imageContainer {
	height: calc(100vw * 2 / 3);
	position: relative;
}

.slickDots {
	@include center;
	position: absolute;
	gap: rem(10);
	bottom: rem(20);
	left: 0;
	right: 0;

	& li:global(.slick-active) .slickDot {
		background-color: $color-white;
	}
}

.slickDot {
	cursor: pointer;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background-color: $color-rgba-white-5;
}
