.wrapper {
	display: flex;
	flex-direction: column;
	margin: rem(20);
	padding-bottom: rem(10);
	font-size: rem(14);
	border-bottom: solid rem(2) $color-gray-2;

	@include mobile {
		margin: rem(20) rem(10);
	}
}

.title {
	font-weight: 600;
	font-size: rem(20);
}

.typeWrapper {
	margin: rem(16) 0 rem(10);
	display: flex;
	align-items: center;
}

.subTypeWrapper {
	margin-top: rem(10);
	display: flex;
	gap: rem(10);
	align-items: center;
}

.type {
	font-weight: 500;
	border: solid rem(2) $color-primary-2;
	color: $color-primary-2;
	padding: rem(4) rem(10);
	border-radius: $round-xl;
}

.star {
	margin-left: rem(10);
	color: $color-yellow-1;
}

.countdownWrapper {
	margin: rem(16) 0 rem(6);

	.countdownText {
		padding: rem(4);
		border-top-left-radius: $round-sm;
		border-bottom-left-radius: $round-sm;
		border: rem(1) solid $color-pink-2;
		background-color: $color-pink-2;
		color: $color-white;
	}

	.countdown {
		padding: rem(4);
		border-top-right-radius: $round-sm;
		border-bottom-right-radius: $round-sm;
		border: rem(1) solid $color-pink-2;
		background-color: $color-pink-1;
		color: $color-pink-2;
		font-weight: 600;
	}
}

.location {
	display: flex;
	align-items: center;
	color: $color-gray-1;

	p {
		display: inline-block;
		margin-left: rem(4);
	}
}

.btn {
	@include btn;
	border: rem(1) solid $color-orange-1;
	color: $color-orange-1;
	padding: rem(6);
	border-radius: $round-md;

	&:hover {
		border-color: $color-orange-2;
		color: $color-orange-2;
	}
}
