.overlay {
	@include dialogOverlay;
}

.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-white;
	z-index: 1;

	&[data-state="open"] {
		animation-name: contentShow;
	}
	&[data-state="closed"] {
		animation-name: contentHide;
	}
}

.animation {
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
}

.buttons {
	display: flex;
	flex-direction: column;
	font-family: inherit;
}

.button {
	font-family: inherit;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: rem(10) rem(20);
	margin: 0;
	font-size: rem(16);
	font-weight: 500;

	&:hover {
		background-color: $color-primary-2;
		color: $color-white;
	}

	&::after {
		display: none;
	}
}

@keyframes contentShow {
	from {
		transform: translate(0, 100%);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes contentHide {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0, 100%);
	}
}
