.wrapper {
	position: sticky;
	top: $height-header;
	@include center;
	flex-direction: column;
	background-color: $color-primary-2;
	gap: rem(20);
	padding: rem(20);
	z-index: 1;

	@include mobile {
		padding: rem(20) rem(10);
	}
}

.searchBar {
	@include center;
	width: 100%;
	gap: rem(20);
}

.networkList {
	display: inline-flex;
	align-items: center;
	gap: rem(8);
}

.searchBtn {
	@include btn;
	border-radius: $round-md;
	background-color: $color-white;
	color: $color-primary-2;
	font-weight: 600;
	padding: rem(4) rem(10);
	text-transform: uppercase;

	&:hover {
		background-color: $color-gray-2;
	}
}
