.wrapper {
	padding: rem(20) 0;
	background-color: $color-white;
}

.cartItem {
	display: flex;
	align-items: center;
	gap: rem(10);
	margin: rem(10) 0;
	cursor: pointer;

	&:hover .checkboxRoot {
		border-color: $color-primary-1;
		color: $color-primary-1;

		&[data-state="checked"] {
			color: $color-white;
		}
	}
	&:hover .checkboxLabel {
		color: $color-primary-1;
	}
}

.checkboxRoot {
	all: unset;
	@include center;
	width: rem(20);
	height: rem(20);
	border: solid rem(2) $color-gray-1;
	border-radius: rem(9999);

	&[data-state="checked"] {
		border-color: $color-primary-2;
		background-color: $color-primary-2;
		color: $color-white;
	}
}

.checkboxIndicator {
	@include center;
	width: rem(18);
	height: rem(18);
}

.checkboxLabel {
	flex: 1;
	display: flex;
	cursor: pointer;
}

.imageWrapper {
	position: relative;
	aspect-ratio: 16 / 9;
	width: rem(400);

	img {
		border-radius: $round-xl;
	}
}

.info {
	margin-left: rem(10);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: rem(10);
}

.name {
	color: $color-gray-1;
	font-size: rem(14);
}

.type {
	color: $color-gray-1;
}

.price {
	color: $color-text-black;
	font-weight: 600;
	font-size: rem(18);
}

.voucherWrapper {
	margin-top: rem(20);
}

.voucherTitle {
	font-size: rem(20);
	font-weight: 500;
	display: flex;
	align-items: center;

	svg {
		stroke: $color-pink-2;
		margin-right: rem(4);
	}
}

@include mobile {
	.cartItem,
	.checkboxLabel {
		cursor: none;
	}

	.checkboxRoot {
		width: rem(16);
		height: rem(16);
	}

	.checkboxIndicator {
		width: rem(12);
		height: rem(12);
	}

	.imageWrapper {
		width: rem(200);
	}
}
