@use "./variables" as *;

@mixin mobile {
	@media (max-width: #{$breakpoint-sm}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-sm + 1px}) and (max-width: #{$breakpoint-lg}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-lg + 1px}) {
		@content;
	}
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center-inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

@mixin line-clamp($line-clamp) {
	display: -webkit-box;
	-webkit-line-clamp: $line-clamp;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin dialogOverlay {
	background-color: $color-rgba-black-5;
	position: fixed;
	inset: 0;
	z-index: 1;

	&[data-state="open"] {
		animation-name: overlayShow;
	}
	&[data-state="closed"] {
		animation-name: overlayHide;
	}
}

@mixin slider {
	:global(.ant-slider-rail),
	:global(.ant-slider-track) {
		height: $slider-height;
	}

	:global(.ant-slider-dot) {
		width: $slider-step-size;
		height: $slider-step-size;
	}

	:global(.ant-slider-handle) {
		width: $slider-handle-size;
		height: $slider-handle-size;

		&:hover::after,
		&:active::after,
		&:focus::after {
			width: $slider-handle-hover-size;
			height: $slider-handle-hover-size;
		}

		&::after {
			width: $slider-handle-size;
			height: $slider-handle-size;
		}
	}

	:global(.ant-slider-mark) {
		top: 20px;
	}

	:global(.ant-slider-mark-text) {
		transform: unset !important;
	}

	:global(.ant-slider-mark-text):nth-of-type(2) {
		left: unset !important;
		right: 0;
	}
}

@mixin btn {
	background-color: unset;
	border: none;
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes overlayHide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
