@use "./variables" as *;

@mixin mobile {
	@media (max-width: #{$breakpoint-sm}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-sm + 1px}) and (max-width: #{$breakpoint-lg}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-lg + 1px}) {
		@content;
	}
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center-inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
