/* colors */
$color-primary: #007ce8;
$color-text: #0194f3;
$color-white: #ffffff;
$color-black: #000000;

/* breakpoints */
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1536px;
