:export {
	colorPrimary1: $color-primary-1;
	colorPrimary2: $color-primary-2;
	colorPrimary3: $color-primary-3;
	colorTextPrimary: $color-text-primary;
	colorTextBlack: $color-text-black;
	colorWhite: $color-white;
	colorBlack: $color-black;
	colorGray1: $color-gray-1;
	colorGray2: $color-gray-2;
	colorGreen1: $color-green-1;
	colorGreen2: $color-green-2;
	colorGreen3: $color-green-3;
	colorBlue1: $color-blue-1;
	colorRed1: $color-red-1;
	colorRed2: $color-red-2;
	colorOrange1: $color-orange-1;
	colorOrange2: $color-orange-2;
	colorPurple1: $color-purple-1;
	colorYellow1: $color-yellow-1;
	colorRgbaBlack5: $color-rgba-black-5;
}
