:export {
	primary1: $color-primary-1;
	primary2: $color-primary-2;
	primary3: $color-primary-3;
	textPrimary: $color-text-primary;
	textBlack: $color-text-black;
	white: $color-white;
	black: $color-black;
	gray1: $color-gray-1;
	gray2: $color-gray-2;
	green1: $color-green-1;
	green2: $color-green-2;
	green3: $color-green-3;
	blue1: $color-blue-1;
	red1: $color-red-1;
	red2: $color-red-2;
	orange1: $color-orange-1;
	orange2: $color-orange-2;
	purple1: $color-purple-1;
	yellow1: $color-yellow-1;
	pink1: $color-pink-1;
	pink2: $color-pink-2;
	rgbaWhite5: $color-rgba-white-5;
	rgbaBlack5: $color-rgba-black-5;
}
