$padding: 8;

.selectTrigger {
	@include center-inline;
	background-color: $color-white;
	border: none;
	border-radius: $round-md;
	padding: rem(4) rem(10);
	color: $color-gray-1;
	flex: 1;
}

.selectTrigger[data-placeholder] {
	color: $color-gray-1;
}

.selectIcon {
	height: rem(20);
}

.selectContent {
	overflow: hidden;
	background-color: $color-white;
	border-radius: $round-md;
	box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.selectViewPort {
	padding: rem($padding);
}

.selectItem {
	color: $color-gray-1;
	display: flex;
	align-items: center;
	padding: rem($padding) rem(10) rem($padding) rem(24);
	border-radius: $round-sm;
	cursor: pointer;
	user-select: none;
}

.selectItem[data-highlighted] {
	background-color: $color-primary-2;
	color: $color-white;
}

.selectItemIndicator {
	position: absolute;
	left: rem($padding);
}
