.wrapper {
	margin: rem(20);

	@include mobile {
		margin: rem(10);
	}
}

.masonry {
	display: flex;
	margin-left: rem(-10); /* gutter size offset */
	width: auto;
}

.masonryColumn {
	padding-left: rem(10); /* gutter size */
	background-clip: padding-box;

	video {
		margin-bottom: rem(10);
		border-radius: $round-lg;
	}
}
