.titleWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	@include center;
	font-size: rem(24);
	font-weight: 600;

	& > img {
		margin-right: rem(8);
	}
}

.more {
	@include center;
	font-size: rem(14);
	color: $color-text-black;
}

.tabsRoot {
	margin-top: rem(10);
}

.tabsList {
	display: flex;
	gap: rem(16);
}

.tabsTrigger {
	background-color: $color-white;
	border: solid rem(2) $color-primary-2;
	border-radius: rem(9999);
	padding: rem(4) rem(12);
	font-size: rem(14);

	&:hover {
		background-color: $color-primary-3;
		color: $color-white;
	}

	&[data-state="active"] {
		background-color: $color-primary-2;
		color: $color-white;
	}
}

.tabsContent {
	margin-top: rem(10);
}
