.wrapper {
	color: $color-text-black;
	font-size: rem(18);
}

.textWrapper {
	margin-top: rem(20);
	padding-top: rem(20);
}

.stepBlock {
	margin-bottom: rem(40);

	span {
		font-size: rem(18);
		font-weight: 600;
		text-transform: uppercase;
	}

	p {
		margin: rem(20) 0;
		color: $color-gray-1;
	}
}
