.wrapper {
	padding: rem(20) rem(10) rem(10);
	position: relative;
}

.btn {
	@include btn;
	@include center;
	position: absolute;
	top: rem(20);
	right: rem(20);
	width: rem(20);
	height: rem(20);
	padding: 0;
	border-radius: 100%;
	border: rem(1) solid $color-gray-1;
	color: $color-gray-1;
	z-index: 1;

	@include mobile {
		top: rem(4);
		right: rem(4);
		width: rem(20);
		height: rem(20);
	}
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	gap: rem(10);
}

.imageWrapper {
	position: relative;
	margin: auto;
	width: min(50%, rem(400));
	margin-bottom: rem(4);
	aspect-ratio: $ratio-16-9;
}

.originalPrice {
	text-decoration: line-through;
	color: $color-gray-3;
	font-size: rem(12);
}

.price {
	color: $color-primary-2;
	font-size: rem(14);
	font-weight: 600;
}
