.title {
	display: flex;
	align-items: center;
}

.clock {
	margin-left: rem(20);

	span {
		background-color: $color-black;
		color: $color-white;
		border-radius: $round-sm;
		padding: rem(2);
	}
}

.productWrapper {
	margin: rem(20) rem(10);
}
