.tabsRoot {
	margin: rem(10) 0;
}

.tabsList {
	display: flex;
	align-items: center;
}

.tabsTrigger {
	all: unset;
	@include center;
	flex: 1;
	padding: rem(10) 0;
	color: $color-primary-1;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		color: $color-primary-3;
	}

	& > span {
		margin-left: rem(6);
	}
}

.tabsTrigger[data-state="active"] {
	border-bottom: solid rem(2) $color-primary-1;
}

.tabsContent {
	padding: rem(10) 0;
	white-space: pre-wrap;
	line-height: 1.2;
}

.titleWrapper {
	margin: rem(10) 0;
}

.title {
	font-weight: 600;
	font-size: rem(16);
}
