.form {
	label {
		font-size: rem(16);
		font-weight: 600;
	}

	:global(.ant-form-item-label),
	:global(.ant-radio-group) {
		label {
			font-size: rem(14);
			font-weight: 400;
		}
	}

	:global(.ant-input-number),
	:global(.ant-picker) {
		width: 100%;
	}
}

.formTitle {
	margin-bottom: rem(12);
	font-size: rem(20);
	font-weight: 700;
	color: $color-primary-1;
}

.addListItemBtn {
	display: flex;
	align-items: center;
}

.formListItem {
	margin-bottom: rem(12);

	:global(.ant-form-item-control-input-content) {
		display: flex;
		gap: rem(10);
	}
}

.formListItemDiv {
	display: flex;
	align-items: center;
	gap: rem(10);

	:global(.ant-form-item) {
		flex: 1;
	}
}

.actionWrapper {
	display: flex;
	gap: rem(10);
}
