.main {
	margin-bottom: rem(60);

	@include mobile {
		margin-bottom: rem(48);
	}
}

.imageContainer {
	height: calc(100vw * 2 / 3);
	position: relative;
}

.blockWrapper {
	display: flex;
	flex-direction: column;
	gap: rem(40);
	padding: rem(40) rem(20) 0;

	@include mobile {
		padding: rem(40) rem(10) 0;
	}
}
