.imageContainer {
	height: calc(100vw * 2 / 3);
	position: relative;
}

.searchWrapper {
	@include center;
	background-color: $color-primary-2;
	gap: rem(20);
	padding: rem(20);

	@include mobile {
		padding: rem(20) rem(10);
	}
}

.networkList {
	display: inline-flex;
	align-items: center;
	gap: rem(8);
}

.blockWrapper {
	display: flex;
	flex-direction: column;
	gap: rem(40);
	padding: rem(40) rem(20) 0;

	@include mobile {
		padding: rem(40) rem(10) 0;
	}
}
