.layoutWrapper {
	height: 100vh;

	::-webkit-scrollbar {
		width: rem(16);
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: $color-gray-3;
		border-radius: rem(20);
		border: rem(6) solid transparent;
		background-clip: content-box;
	}
}

.sider {
	background-color: $color-primary-2 !important;
}

.siderLogo {
	position: relative;
	height: rem(90);
	padding: rem(20) rem(16);
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		display: flex;
		align-items: center;
		overflow: hidden;

		img {
			background-color: $color-white;
			border-radius: rem(9999);
			aspect-ratio: 1 / 1;
		}

		span {
			font-size: rem(24);
			color: $color-white;
			margin-left: rem(10);
		}
	}
}

.collapseButton {
	position: absolute;
	top: rem(16);
	right: 0;
	transform: translateX(50%);
}

.collapsed {
	transform: translateX(50%) rotateY(180deg);
}

.menu {
	background-color: unset;

	li {
		color: $color-white;
		font-weight: 600;
		font-size: rem(16);

		&:global(.ant-menu-item-selected),
		&:global(.ant-menu-item-active),
		&:hover,
		&:global(.ant-menu-submenu-selected) > div,
		& > div:hover {
			background-color: unset !important;
			color: $color-yellow-1 !important;
		}

		.active {
			color: red;
		}
	}
}

.header {
	background-color: unset;
	font-size: rem(20);
	font-weight: 600;
}

.content {
	border-top: rem(2) solid $color-gray-3;
	padding: rem(30);
	overflow: auto;
}
