.wrapper {
	display: flex;
	flex-direction: column;
	gap: rem(10);
}

.section {
	display: flex;
	gap: rem(10);

	& > span {
		width: 100%;
	}
}

.input {
	width: 80%;
}

.btn {
	background-color: $color-pink-2;
	color: $color-white;
	padding: rem(10) 0;
	border-radius: $round-md;

	&:hover {
		background-color: $color-red-1;
	}
}
