.title {
	color: $color-primary-2;
	font-size: rem(20);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: rem(16) 0;
}

.addProductBtn {
	@include btn;
	@include center;
	color: $color-primary-2;
}

.slotRow {
	margin-top: rem(20);
	position: sticky;
	top: $height-header;
	left: 0;
	right: 0;
	z-index: 1;

	:global(.ant-col) {
		border: rem(1) solid $color-gray-3;
		border-right: none;
		background-color: $color-white;
	}
}

.collapse {
	background-color: $color-white;
	border: none;
	padding: rem(20) 0;

	:global(.ant-collapse-item) {
		background-color: $color-white;
		border: none;
		margin-top: rem(20);

		:global(.ant-collapse-header) {
			margin: 0 rem(10);
			border-bottom: solid rem(1) $color-black;
			border-radius: 0 !important;
			text-transform: uppercase;
			font-weight: 600;
			font-size: rem(16);
			padding: 0;
			padding-bottom: rem(10);
		}

		:global(.ant-collapse-content) {
			border: none;

			:global(.ant-collapse-content-box) {
				padding: 0;

				.criteria {
					padding-top: rem(10);

					span {
						font-size: rem(14);
						font-weight: 600;
						padding: 0 rem(10);
					}
				}

				:global(.ant-row) {
					margin-top: rem(10);
					padding: rem(8) 0;

					&:first-of-type {
						border-top: rem(1) solid $color-gray-2;
					}
					&:last-of-type {
						border-bottom: rem(1) solid $color-gray-2;
					}

					:global(.ant-col) {
						padding: 0 rem(10);
						font-size: rem(12);
						white-space: pre-wrap;
					}
				}
			}
		}
	}
}

.collapseIcon {
	transition: all 0.15s linear;
}

.iconActive {
	transform: rotate(180deg);
}
