.header {
	display: flex;
	padding: rem(20);
	justify-content: space-between;
	border-bottom: rem(2) solid $color-gray-2;
	margin-bottom: rem(10);

	p:first-of-type {
		font-weight: 700;
		font-size: rem(20);
	}

	p:nth-of-type(2) {
		margin-top: rem(4);
		color: $color-gray-1;
	}
}

.actionWrapper {
	display: flex;
	flex-direction: column;
}

.linkItem {
	color: $color-gray-1;
	display: flex;
	align-items: center;
	padding: rem(10) rem(20);
	text-align: left;
	gap: rem(10);
	border-bottom: rem(1) solid $color-gray-2;

	span {
		flex: 1;
	}

	&:hover {
		color: $color-primary-2;
	}
}

button.linkItem {
	@include btn;
}

.titleWrapper {
	@include center;
	position: relative;
	padding-top: rem(20);

	button {
		@include btn;
		position: absolute;
		left: rem(20);
		width: rem(30);
		height: rem(30);
		padding: 0;
		@include center;

		&:hover {
			color: $color-primary-2;
		}
	}

	h3 {
		font-size: rem(24);
		font-weight: 600;
	}
}

.contentWrapper {
	padding: rem(20);
}
